.col-md-11 {
    background: #ffffff;
}

.data-box {
    /* Styles for the box */
    border: 1px solid #ececec;
    padding: 20px;
    border-radius: 2px;
}

.table-container {
    overflow-x: scroll;
    /* Enable horizontal scrolling */
}

.special-table-container {
    overflow-x: scroll;
    /* Enable horizontal scrolling */
    white-space: nowrap;
}

.alert-danger {
    padding: 0;
    background-color: white;
    color: red;
    border: none;
    font-size: 13px;

}

.ibtn {
    color: #FF9900;
    background: transparent;
    padding: 4px 22px;
    border: 1px solid #FF9900;
    border-radius: 3px;
    position: relative;
    font-weight: 400;
    padding: 5px 22px;
    font-size: 14px;
}

button.ibtn:hover{
    color: #fee;
    background: linear-gradient(45deg, #ffc632 0%, #ff8302 100%);
    border: none;
    padding: 4px 22px;
    border: 0px solid #FF9900;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 22px;
    font-size: 14px;
}

label {
    margin-top: 10px;
    font-weight: 500;
    color: #8b8b8b;
    font-size: 13px;
}


input,
select {
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    color: #636363;
    width: 100%;
    padding: 9px;
    font-size: 14px;
    border: none;
    border: 1px solid rgb(206, 206, 206);
    font-weight: 400;
    background-color: #ffffff;
    border-radius: 3px;
}

textarea{
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    color: #616161;
    width: 100%;
    padding: 7px;
    font-size: 14px;
    border: none;
    border: 1px solid rgb(206, 206, 206);
    font-weight: 400;
    background-color: #ffffff;
    border-radius: 3px;
}

button {
    font-weight: 400;
}

.email-container{
    border: 1px solid rgb(172, 172, 172);
    font-size:14px;
    color: #9f9f9f;
    position: absolute;
    width: 100%;
    box-shadow:3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
    z-index: 100;
    padding-left:10px;
    background-color: white;
}

.email-container option{
    padding: 4px 3px;
    color: rgba(7,30,84,.6);

}
.email-container option:hover{
    background-color: white;
    color: #264a9f;
}

.optiondiv{
    margin-top: 10px;
    min-width: fit-content;
    max-width: fit-content;
}

.optionclass{
    padding: 8px 5px;
    margin: 5px;
    color: rgba(7,30,84,.6);
    border: none;
    border: 1px solid rgb(192, 192, 192);
    font-size: 13px;
    max-width: fit-content;
    display: inline-block;
}

.optiondiv .optionclass button{
    background-color: white;
    border: none;
    border:1px solid rgb(167, 167, 167);
    color: #264a9f;
}

.fbox{
    margin-top: 20px;
}

.q-class{
    border: 1px solid rgb(173, 173, 173);
    padding: 5px;
    padding-bottom: 10px;
    margin: 5px;
    margin-bottom: 50px;
    background-color: #f4f4f4;

}

i.ibootstrap{
    text-align: right;
    margin-left: 83%;
}

.question-sep{
    padding: 20px;
    border: 1px solid rgb(209, 209, 209);
    margin: 10px;
}

.question-sep p{
    display: inline;
}