/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px;
    margin-left: 8%;
  }
  
  .nav-links {
    display: flex;
    list-style: none;

  }
  
  .nav-links li {
    margin-left: 50px;
  }
  
  .nav-links a {
    color: #264a9f;
    text-decoration: none;
    font-size: 1rem;
  }
  
  /* Shrinking header on smaller screens */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      padding: 10px;
      text-align: center;
    }
  
    .nav-links {
      flex-direction: column;
      margin-top: 10px;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }
  
  /* Further shrink header for very small screens */
  @media (max-width: 480px) {
    .header {
      padding: 5px;
    }
  
    .logo {
      font-size: 1.2rem;
    }
  
    .nav-links a {
      font-size: 0.9rem;
    }
  }
  