<br><br>
<div class="container">
    <div class="row justify-content-around">
        <div class="col-3" style="margin: 20px;">
            <p style="font-size: 16px;font-weight: 500;color: #264a9f;margin-bottom: 5px;">Write to us;</p>
            
        </div>
        <div class="col-3" style="margin: 20px;">
            <p style="font-size: 16px;font-weight: 500;color: #264a9f;">Usefull Links</p>
            <div style="margin-bottom: 5px;color:rgba(7,30,84,.6);font-size: 13px;font-weight: 400;" [routerLink]="'/home'">Home</div>
            <div style="margin-bottom: 5px;color:rgba(7,30,84,.6);font-size: 13px;font-weight: 400;" [routerLink]="'/about'">About</div>
            <div style="margin-bottom: 5px;color:rgba(7,30,84,.6);font-size: 13px;font-weight: 400;" [routerLink]="'/facuilties'">Faculities</div>
            <div style="margin-bottom: 5px;color:rgba(7,30,84,.6);font-size: 13px;font-weight: 400;" [routerLink]="'/admission'">Admission</div>
            <div style="margin-bottom: 5px;color:rgba(7,30,84,.6);font-size: 13px;font-weight: 400;" [routerLink]="'/curriculum'">Curriculum</div>
            <div style="margin-bottom: 5px;color:rgba(7,30,84,.6);font-size: 13px;font-weight: 400;" [routerLink]="'/rbse'">RBSE Corrner</div>
            <div style="margin-bottom: 5px;color:rgba(7,30,84,.6);font-size: 13px;font-weight: 400;" [routerLink]="'/contact'">Contact</div>
            <div style="margin-bottom: 5px;color:rgba(7,30,84,.6);font-size: 13px;font-weight: 400;">TC</div>
        </div>
        <div class="col-3" style="margin: 20px;">
            <p style="font-size: 16px;font-weight: 500;color: #264a9f;margin-bottom: 5px;">Address</p>
            <div style="margin-bottom: 10px;color:rgba(7,30,84,.6);font-size: 13px;font-weight: 400;">
                <i class="bi bi-geo-alt-fill" style="margin-right: 5px;"></i>Keshavrai Patan, Dist,
                Bundi, Rajasthan,
            </div>
            <p style="font-size: 16px;font-weight: 500;color: #264a9f;margin-bottom: 5px;">Email</p>
            <div style="margin-bottom: 10px;color:rgba(7,30,84,.6);font-size: 13px;font-weight: 400;">
                <i class="bi bi-envelope-check" style="margin-right: 5px;"></i>17vishalnagar2002gmail.com
            </div>
            <p style="font-size: 16px;font-weight: 500;color: #264a9f;margin-bottom: 5px;">Phone No.</p>
            <div style="margin-bottom: 10px;color:rgba(7,30,84,.6);font-size: 13px;font-weight: 400;">
                <i class="bi bi-telephone-plus" style="margin-right: 5px;"></i>+919352052993
            </div>
            <p style="font-size: 16px;font-weight: 500;color: #264a9f;margin-bottom: 5px;">Whatsupp No.</p>
            <div style="margin-bottom: 10px;color:rgba(7,30,84,.6);font-size: 13px;font-weight: 400;">
                <i class="bi bi-whatsapp" style="margin-right: 5px;"></i>+919636563325
            </div>
        </div>
    </div>
</div>

<!-- const routes: Routes = [
  { path: '', component: HomeComponent },
  { path: 'about', component: AboutComponent },
  { path: 'contact', component: ContactComponent },
  { path: 'facilities', component: FacuiltyComponent },
  { path: 'student-onboarding', component: StudentOnboardingComponent },
  { path: 'teacher-onboarding', component: TeacherOnboardingComponent },
  { path: 'profile',component:ProfileComponent},
  { path: 'marks',component:MarksComponent},
  { path: 'attendance',component:AttendanceComponent},
  { path: 'communication',component:ComunicationComponent},
  { path: 'studay-material',component:StudyMeterialComponent},
  { path: 'home', component: HomeComponent },
  { path:'timetable',component:TimetableComponent},
  { path: 'tc', component: HomeComponent },
]; -->