<app-headers></app-headers>
<app-sidebars></app-sidebars>
<br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <p style="color: #264a9f;font-size: 16px;font-weight: 500;">About US</p>
            <p style="color: rgba(7,30,84,.6);text-align: justify;font-size: 13px;">
                Oxford Child Academy – OCA (RBSE) Campus has been set up by the Indian Educational Society. Oxford Child Academy is
                first RBSE affiliated co-educational in Kaishoraipatan Dist. Bundi. Oxford Child Academy today is a name to reckon with
                as one of the top schools in Bundi District.
                
                OCA is a co-educational, RBSE school. OCA is benchmarked against the leading schools of the district aims to carry
                forward the legacy of quality education in a world class, pollution free environment where the future generations of
                tomorrow can be prepared and equipped with all the requisite skills necessary for the children to become capable and
                responsible world citizens.
                
                To be a great, modern Indian school with an international flair. To impart a liberal education with emphasis on problem
                solving skills, cooperation, mutual respect, a sense of responsibility and collaborative learning. To making the
                learning process a challenging, rewarding and joyful experience. To create world leaders who understand the value of
                humility. To offer a salubrious location and an atmosphere conducive to learning, thought and fun. To aspire to only the
                best in all things by maintaining the highest standards.
            </p>
            <br>
            <p style="color: #264a9f;font-size: 16px;font-weight: 500;">The School Philosophy</p>
            <p style="color: rgba(7,30,84,.6);text-align: justify;font-size: 13px;">The formative years that a child spends at school are perhaps the most instrumental in shaping the future of the child.
            Recognizing this the school is deeply committed to providing the children with a stimulating and positive environment
            that facilitates the development of the children into capable, confident and responsible individuals who are equipped
            with all the requisite skills to carve out a niche for themselves, as they step out into the world. The core purpose of
            Indian Convent School is to create an inclusive community of confident, motivated and successful learners, and we aim to
            achieve this by the following measures -</p>
            
            <br>
            <ul style="color: rgba(7,30,84,.6);text-align: justify;font-size: 13px;">
                <li>By recognizing that each child is different, and by encouraging our children to reach their optimum potential based on
                individual ability and to develop lively, enquiring and reflective minds.</li>
                <li>By building a strong academic foundation and equipping our children with all the requisite skills required for them to
                excel in their future endeavors.</li>
                <li>By giving meaning and enjoyment to the students learning experience and by encouraging self motivation, enterprise, and
                a commitment to lifelong learning.</li>
                <li>By providing a balanced and inclusive school curriculum that introduces the children to all aspects of human knowledge
                and experience.</li>
                <li>By motivating and educating our students to be responsible citizens, with particular focus on developing in them a
                strong character, with personal traits such as kindness, empathy, tolerance, understanding, respect, and integrity.</li>
                <li>By inculcating in our children a deep respect for human relationships and diversity irrespective of beliefs, religion,
                culture, or status.</li>
            </ul>
        </div>
    </div>
</div>
<br><br>
<app-footers></app-footers>
