
.data-box {
    font-style: normal;
    padding: 20px;
    border: 1px solid rgb(224, 224, 224);
}

.table-container {
    overflow-x: scroll;
    /* Enable horizontal scrolling */
}

.special-table-container {
    overflow-x: scroll;
    /* Enable horizontal scrolling */
    white-space: nowrap;
}

.alert-danger {
    color: red;
    border: none;
    background-color: inherit;
    padding: 0px;
    margin: 0px;
    font-size: 13px;
}
.alert{
    color: red;
    border: none;
    background-color: inherit;
    padding: 0px;
    margin: 0px;
    font-size: 13px;
}


label {
    margin-top: 10px;
    font-weight: 400;
    color: #828282;
    font-size: 12px;
    font-weight: 500;
}

input,
select,textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    margin-bottom: 8px;
    color: gray;
    font-size: 14px;
    font-weight: 400;

}


.ibtn {
    color: #FF9900;
    background: transparent;
    padding: 4px 22px;
    border: 1px solid #FF9900;
    border-radius: 3px;
    position: relative;
    font-weight: 400;
    padding: 8px 25px;
    font-size: 14px;
}
.ibtn_2{
    color: #FF9900;
    background: transparent;
    border: 1px solid #FF9900;
    border-radius: 3px;
    position: relative;
    font-weight: 400;
    padding: 3px 12px;
    font-size: 14px;
}
button.ibtn:hover{
    color: #fee;
    background: linear-gradient(45deg, #ffc632 0%, #ff8302 100%);
    border: none;
    padding: 4px 22px;
    border: 0px solid #FF9900;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 25px;
    font-size: 14px;
}

label.label input[type="file"] {
    position: absolute;
    top: -1000px;
}


label.label {
    width: 100%;
    color: gray;
    padding: 10px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 5px;
}
div.label{
    width: 100%;
    color: gray;
    padding: 7px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 5px;
}

.a_subject{
    background: linear-gradient(to bottom right, #eff0f3, #e5e6eb);
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    color: rgba(7, 30, 84, .6);
    padding: 10px 15px;
    margin-top: 6px;
    margin-right:10px;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;

}