<app-header></app-header>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <p style="color: #264a9f;font-size: 16px;font-weight: 500;">Our Facilities</p>
            <p style="color: rgba(7,30,84,.6);text-align: justify;font-size: 13px;">
                The school campus and facilities have been specifically designed to enhance teaching and learning, providing a bright,
                well-resourced and motivational environment for our students.
            </p>
            <br>

            <p style="color: #264a9f;font-size: 16px;font-weight: 500;">Classrooms</p>
            <p style="color: rgba(7,30,84,.6);text-align: justify;font-size: 13px;">
                The right learning environment is a key to the success of Indian Convent School and each spacious classroom is light and
                well resourced. ICT equipment is readily available and well integrated within classrooms, an interactive whiteboard and
                projector offers excellent teaching resources.
            </p>
            <br>

            <p style="color: #264a9f;font-size: 16px;font-weight: 500;">The Library</p>
            <p style="color: rgba(7,30,84,.6);text-align: justify;font-size: 13px;">
                Our library contains an extensive range of books, grouped according to age and ability, to which all children have
                access. Weekly library sessions offer children the opportunity to select books, learn library skills and etiquette,
                thereby installing in them a healthy habit of reading and book appreciation.
            </p>
            <br>

            <p style="color: #264a9f;font-size: 16px;font-weight: 500;">Sports Hall</p>
            <p style="color: rgba(7,30,84,.6);text-align: justify;font-size: 13px;">
                A large, temperature-controlled sports hall allows for a year-round PE programme at Indian Convent School. Basketball,
                badminton, volleyball and short tennis are some of the many activities on offer.
            </p>
            <br>

            <p style="color: #264a9f;font-size: 16px;font-weight: 500;">Main Hall</p>
            <p style="color: rgba(7,30,84,.6);text-align: justify;font-size: 13px;">
            Our main hall, with purpose-built stage and integrated sound and lighting, is used throughout the year by students and
            visiting performers for year group assemblies and performances. The PE department also use the space for dance and
            gymnastics, as do external partners in the evenings.
            </p>
            <br>
            <p style="color: #264a9f;font-size: 16px;font-weight: 500;">Main Hall</p>
            <p style="color: rgba(7,30,84,.6);text-align: justify;font-size: 13px;">
                Our main hall, with purpose-built stage and integrated sound and lighting, is used throughout the year by students
                and
                visiting performers for year group assemblies and performances. The PE department also use the space for dance and
                gymnastics, as do external partners in the evenings.
            </p>
            <br>

            <p style="color: #264a9f;font-size: 16px;font-weight: 500;">Swimming Pool (Proposed)</p>
            <p style="color: rgba(7,30,84,.6);text-align: justify;font-size: 13px;">
                The fully shaded 25-metre swimming pool and infant learning pool are heated in the cooler months and chilled in the
                warmer months allowing curriculum swimming lessons, Swimming Development Programme and Swim Squads to continue all year
                round.
            </p>
            <br>
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>