
.data-box {
    border: 1px solid rgb(219, 219, 219);
    font-style: normal;
    padding: 20px;

}
.heading-1{
    color: #264a9f;
    font-size: 20px;
}
.heading-2{
    color: #264a9f;font-size: 16px;
}
.table-container {
    overflow-x: scroll;
    /* Enable horizontal scrolling */
}

.special-table-container {
    overflow-x: scroll;
    /* Enable horizontal scrolling */
    white-space: nowrap;
}

.alert-danger {
    color: red;
    border: none;
    background-color: inherit;
    padding: 0px;
    margin: 0px;
    font-size: 13px;
}
.alert{
    color: red;
    border: none;
    background-color: inherit;
    padding: 0px;
    margin: 0px;
    font-size: 13px;
}


label {
    margin-top: 10px;
    font-weight: 400;
    color: #828282;
    font-size: 12px;
    font-weight: 500;
}

input,
select,textarea {
    width: 100%;
    padding: 10px;
    
    
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    margin-bottom: 8px;
    color: rgb(111, 111, 111);
    font-size: 14px;
    font-weight: 400;
}




.ibtn {
    color: #FF9900;
    background: transparent;
    padding: 4px 22px;
    border: 1px solid #FF9900;
    border-radius: 3px;
    position: relative;
    font-weight: 400;
    padding: 8px 25px;
    font-size: 14px;
}
button.ibtn:hover{
    color: #fee;
    background: linear-gradient(45deg, #ffc632 0%, #ff8302 100%);
    border: none;
    padding: 4px 22px;
    border: 0px solid #FF9900;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 25px;
    font-size: 14px;
}
.marks-input{
    width: 100px;  
    margin-right: 10px; 
}

label.label input[type="file"] {
    position: absolute;
    top: -1000px;
}

label.label {
    width: 100%;
    color: rgba(7, 30, 84, .6);
    padding: 10px;
    
    
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 5px;
}

.a_subject{
    
    
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    color: rgba(7, 30, 84, .6);
    padding: 10px 15px;
    margin-top: 6px;
    margin-right:10px;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;

}

td{
    
    
    border: 1px solid rgb(206, 206, 206);
    color: gray;
    padding: 10px 15px;
    margin: 5px;
    width: max-content;
    font-size: 13px;
    font-weight: 400;
}
th{
    border: 1px solid rgb(206, 206, 206);
    color: gray;
    padding: 10px 15px;
    margin: 5px;
    width: max-content;
    font-size: 13px;
    font-weight: 500;
    background-color: rgb(223, 223, 223);
}
.active{
    border: 1px solid rgb(0, 0, 0);
    background: linear-gradient(to bottom right, #dadada, #a0a2aa);
    border-radius: 2px;
    padding: 3px 8px;
    font-weight: 400;
    margin: 1.5px 2.5px;
  }
  .nonactive{
    border:1px solid rgb(124, 124, 124);
    color: gray;
    font-weight: 400;
    border-radius: 2px;
    margin: 1.5px 3px;
    padding: 3px 8px;
  }
  
  .buttonDisable{
    background-color: white;
    border-radius: 2px;
    padding: 3px 8px;
    border:none;

  }
@media(max-width : 780px){
    .container{
        margin-right: 5%;
    }

    .data-box {
        border: 1px solid rgb(218, 218, 218);
        font-style: normal;
        padding: 20px;

    }

    .table-container {
        overflow-x: scroll;
        /* Enable horizontal scrolling */
    }

    .special-table-container {
        overflow-x: scroll;
        /* Enable horizontal scrolling */
        white-space: nowrap;
    }

    .alert-danger {
        color: red;
        border: none;
        background-color: inherit;
        padding: 0px;
        margin: 0px;
        font-size: 10px;
    }
    .alert{
        color: red;
        border: none;
        background-color: inherit;
        padding: 0px;
        margin: 0px;
        font-size: 10px;
    }


    label {
        margin-top: 7px;
        font-weight: 400;
        color: #828282;
        font-size: 9.5px;
    }

    input,
    select,textarea {
        width: 100%;
        padding: 7.5px;
        
        box-shadow: 2px 2px 4.5px #bfc3cf, -2px -2px 4.5px #fff;
        border: 1px solid rgb(206, 206, 206);
        border-radius: 3px;
        margin-bottom: 6px;
        color: rgba(7, 30, 84, .6);
        font-size: 10px;
    }

    .marks-input{
        width: 75px;  
        margin-right: 7px; 
    }
    


    .ibtn {
        color: #FF9900;
        background: transparent;
        padding: 4px 22px;
        border: 1px solid #FF9900;
        border-radius: 3px;
        position: relative;
        font-weight: 400;
        padding: 8px 25px;
        font-size: 14px;
    }
    button.ibtn:hover{
        color: #fee;
        background: linear-gradient(45deg, #ffc632 0%, #ff8302 100%);
        border: none;
        padding: 4px 22px;
        border: 0px solid #FF9900;
        border-radius: 3px;
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        padding: 8px 25px;
        font-size: 14px;
    }

    label.label input[type="file"] {
        position: absolute;
        top: -1000px;
    }

    label.label {
        width: 100%;
        color: rgba(7, 30, 84, .6);
        padding: 7.5px;
        
        box-shadow: 2px 2px 4px #bfc3cf, -2px -2px 4px #fff;
        border: 0.8px solid rgb(206, 206, 206);
        border-radius: 3.5px;
        display: inline-block;
        box-sizing: border-box;
        cursor: pointer;
        margin-top: 3.5px;
    }

    .a_subject{
        
        box-shadow: 2px 2px 4.5px #bfc3cf, -2px -2px 4.5px #fff;
        border: 1px solid rgb(206, 206, 206);
        border-radius: 4px;
        color: rgba(7, 30, 84, .6);
        padding: 7.5px 12px;
        margin-top: 4.5px;
        margin-right:7.5px;
        display: inline-block;
        text-decoration: none;
        font-size: 10px;

    }

    th,td{
        
        box-shadow: 2px 2px 4px #bfc3cf, -2px -2px 4px #fff;
        border: 1px solid rgb(206, 206, 206);
        color: rgba(7, 30, 84, .6);
        padding: 7.5px 12.5px;
        margin: 3.5px;
        width: max-content;
        font-size: 10px;
        font-weight: 500;
    }
}

@media(max-width : 480px){
    .container{
        margin-right: 2%;
    }

    .data-box {
        
        box-shadow: 1.5px 1.5px 1.5px #bfc3cf, -1.5px -1.5px 3px #fff;
        font-style: normal;
        padding: 10px;
    }
    .heading-1{
        color: #264a9f;
        font-size: 14px;
    }
    .heading-2{
        color: #264a9f;font-size: 8px;
    }

    .table-container {
        overflow-x: scroll;
        /* Enable horizontal scrolling */
    }

    .special-table-container {
        overflow-x: scroll;
        /* Enable horizontal scrolling */
        white-space: nowrap;
    }

    .alert-danger {
        color: red;
        border: none;
        background-color: inherit;
        padding: 0px;
        margin: 0px;
        font-size: 7px;
    }
    .alert{
        color: red;
        border: none;
        background-color: inherit;
        padding: 0px;
        margin: 0px;
        font-size: 7px;
    }


    label {
        margin-top: 10px;
        font-weight: 400;
        color: #828282;
        font-size: 7px;
    }

    input,
    select,textarea {
        width: 100%;
        padding: 10px;
        
        box-shadow: 1.5px 1.5px 1.5px #bfc3cf, -1.5px -1.5px 3px #fff;
        border: 1px solid rgb(206, 206, 206);
        border-radius: 2.5px;
        margin-bottom: 4px;
        color: rgba(7, 30, 84, .6);
        font-size: 7px;
    }




    .ibtn {
        color: #FF9900;
        background: transparent;
        padding: 4px 22px;
        border: 1px solid #FF9900;
        border-radius: 3px;
        position: relative;
        font-weight: 400;
        padding: 8px 25px;
        font-size: 14px;
    }
    button.ibtn:hover{
        color: #fee;
        background: linear-gradient(45deg, #ffc632 0%, #ff8302 100%);
        border: none;
        padding: 4px 22px;
        border: 0px solid #FF9900;
        border-radius: 3px;
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        padding: 8px 25px;
        font-size: 14px;
    }

    label.label input[type="file"] {
        position: absolute;
        top: -1000px;
    }

    label.label {
        width: 100%;
        color: rgba(7, 30, 84, .6);
        padding: 5px;
        
        box-shadow: 1.5px 1.5px 1.5px #bfc3cf, -1.5px -1.5px 3px #fff;
        border: 1px solid rgb(206, 206, 206);
        border-radius: 2.5px;
        display: inline-block;
        box-sizing: border-box;
        cursor: pointer;
        margin-top: 2.5px;
    }

    .a_subject{
        
        box-shadow: 1.5px 1.5px 1.5px #bfc3cf, -1.5px -1.5px 1.5px #fff;
        border: 0.5px solid rgb(206, 206, 206);
        border-radius: 2.5px;
        color: rgba(7, 30, 84, .6);
        padding: 5px 7.5px;
        margin-top: 3px;
        margin-right:5px;
        display: inline-block;
        text-decoration: none;
        font-size: 7px;

    }

    th,td{
        
        box-shadow: 1.5px 1.5px 3px #bfc3cf, -1.5px -1.5px 3px #fff;
        border: 0.5px solid rgb(206, 206, 206);
        color: rgba(7, 30, 84, .6);
        padding: 5px 7.5px;
        margin: 2.5px;
        width: max-content;
        font-size: 7px;
        font-weight: 500;
    }
    .marks-input{
        width: 50px;   
        margin-right: 5px;
    }
}

