<aside class="sidebar">
    <div class="sidebar-header">
      <img src="images/logo.png" alt="logo" />
      <h2>CodingLab</h2>
    </div>
    <ul class="sidebar-links">
      <h4>
        <span>Main Menu</span>
        <div class="menu-separator"></div>
      </h4>
      <li>
        <a href="#">
          <span><i class="bi bi-house-gear-fill fs-4"></i> </span>Dashboard</a>
      </li>
      <li>
        <a href="#"><span><i class="bi bi-view-list fs-4"></i> </span>Overview</a>
      </li>
      <li>
        <a href="#"><span><i class="bi bi-bar-chart-line fs-4"></i> </span>Analytic</a>
      </li>
      <h4>
        <span>General</span>
        <div class="menu-separator"></div>
      </h4>
      <li>
        <a href="#"><span><i class="bi bi-house-gear-fill fs-4"></i> </span>Projects</a>
      </li>
      <li>
        <a href="#"><span><i class="bi bi-people-fill fs-4"></i> </span>Groups</a>
      </li>
      <li>
        <a href="#"><span><i class="bi bi-house-gear-fill fs-4"></i> </span>Transfer</a>
      </li>
      <li>
        <a href="#"><span><i class="bi bi-flag-fill fs-4"></i> </span>All Reports</a>
      </li>
      <li>
        <a href="#"><span>
            <i class="bi bi-bell fs-4"></i> </span>Notifications</a>
      </li>
      <h4>
        <span>Account</span>
        <div class="menu-separator"></div>
      </h4>
      <li>
        <a href="#"><i class="bi bi-person-square fs-4"></i>Profile</a>
      </li>
      <li>
        <a href="#"><i class="bi bi-gear-fill fs-4"></i>Settings</a>
      </li>
      <li>
        <a href="#"><i class="bi bi-house-gear-fill fs-4"></i>Logout</a>
      </li>
    </ul>
    <div class="user-account">
      <div class="user-profile">
        <img src="images/profile-img.jpg" alt="Profile Image" />
        <div class="user-detail">
          <h3>Eva Murphy</h3>
          <span>Web Developer</span>
        </div>
      </div>
    </div>
  </aside>